<div class="col">
  <h1 class="card-packs-title">Buy Packs</h1>
  <p class="card-packs-subtitle">
    Build your collection by buying packs of cards.<br>
    Each pack contains 4 cards.<br>
    Cards must be bought with ether.<br>
    To fund your account, send ETH to your wallet address.<br>
    Cards will be on sale until the final whistle blows for the July 15th final.
  </p>
</div>
