{{#link-to "checklist" checklistItem.id}}
  <div class="card-image-container mb-2">
    <img src={{checklistItem.filepath}} class="card-image img-fluid">
  </div>
  {{#if (gt ownedCount 1)}}
    <span class="card-count-badge">{{ownedCount}}</span>
  {{/if}}
  {{checklist-item-info checklistItem=checklistItem}}
{{/link-to}}
