<div class="col-md-6 d-flex">
  <h2>Iconic Card of the Day</h2>
  <p>#{{checklistItem.id}} - {{checklistItem.player.name}}</p>
  <p>Available in Premium Packs - today only!</p>
  <p>Limited to 100 cards (found in 1 in 5 packs).</p>
  <p>Card of the Day switches over daily at 11:00 AM EST.</p>
</div>
<div class="col-md-6">
  <img src={{checklistItem.filepath}} class="img-fluid">
</div>
