<div class="card-image-container mb-2">
  <img src="/assets/images/cards/{{checklistItem.filename}}" class="card-image img-fluid">
</div>
<p class="player-name font-weight-bold">{{checklistItem.player.name}}</p>
<p class="checklist-number opacity-30">{{checklistItem.set.descriptor}} · #{{checklistItem.id}}</p>
