<div class="flippable-card{{if isFlipped " is-flipped"}}">
  <img class="flippable-card-face flippable-card-face-front" src="/assets/images/card-back.png">
  <img class="flippable-card-face flippable-card-face-back" src={{checklistItem.filepath}}>
</div>
