<div class="col">
  {{#unless installMetamaskClicked}}
    <h1 class="install-metamask-title">You Need MetaMask!</h1>
    <p class="install-metamask-text">MetaMask is a popular digital wallet that is guaranteed to work with CryptoStrikers. It acts as your login to our application and securely holds your cards. You need it to buy packs, to make trades, and to use the marketplace.</p>
    <a class="install-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">Step-by-step Guide</a>
    <br>
    <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" {{action (mut installMetamaskClicked) true preventDefault=false}}>INSTALL METAMASK</a>
  {{else}}
    <h1 class="install-metamask-title">Installed It?</h1>
    <p class="install-metamask-text">Make sure you click the MetaMask icon in your browser's toolbar and follow the instructions there to finish the installation.</p>
    <a class="install-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">Step-by-step Guide</a>
    <br>
    <button type="button" class="btn btn-primary btn-lg" {{action "forceRefresh"}}>Ya, I installed it.</button>
  {{/unless}}
</div>
