<div class="pack-sale-container">
  <img class="pack-sale-image" src="/assets/images/{{if isStandard "standard" "premium"}}-pack.png">
  <h5 class="pack-sale-title">{{if isStandard "Standard" "Premium"}} Pack</h5>
  <div class="pack-sale-price">0.022 ETH</div>
</div>
