<div class="card">
  <img class="card-img" src="/assets/cards/s1/{{safePlayer.id}}.svg">
</div>
{{#if (gt ownedCount 1)}}
  <h5><span class="badge badge-pill badge-primary">{{ownedCount}}</span></h5>
{{/if}}
