<div class="col">
  <h1 class="referrals-header-title">Refer Friends for Rewards</h1>
  <h2 class="referrals-header-subtitle">Get Exclusive Cards and Earn ETH</h2>
  <div class="referrals-header-images">
    <div class="referrals-header-image header-image-left"></div>
    <span class="referrals-header-plus">+</span>
    <div class="referrals-header-image header-image-right"></div>
  </div>
  <p class="referrals-header-text">When a friend you invited to CryptoStrikers buys a pack, you unlock 1 of 8 exclusive Iconic cards. These cards are not available through the pack sale.</p>
  <p class="referrals-header-text">Once you've unlocked all 8 cards, every time someone you referred buys a pack, you get 10% of that sale.</p>
  <p class="referrals-header-text">To join the program, you must have {{link-to "purchased at least 1 pack" "buy-packs"}}. Your referral purchases will be tracked once you set up your invite link. See the <a href="#">Referral Program Terms</a>.</p>
</div>
