<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    {{#if modalTitle}}
      <div class="modal-header">
        <h5 class="modal-title" id="strikersModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
    <div class="modal-body">
      {{yield}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" {{action "confirmButtonClicked"}}>{{if confirmActionTitle confirmActionTitle "Confirm"}}</button>
    </div>
  </div>
</div>
