<div class="col">
  <h1 class="unlock-metamask-title">{{t "unlock-metamask.title"}}</h1>
  <p class="unlock-metamask-text">{{t "unlock-metamask.subtitle"}}</p>
  <a class="unlock-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">{{t "install-metamask.guide-link"}}</a>
  <br>
  <img class="unlock-metamask-img" src="/assets/images/unlock-metamask.png">
</div>
