<div class="col">
  <h1 class="unlock-metamask-title">Please Unlock MetaMask</h1>
  <p class="unlock-metamask-text">Click the MetaMask icon in your browser's toolbar and follow the instructions there to unlock it.</p>
  <a class="unlock-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">Step-by-step Guide</a>
  <br>
  <img class="unlock-metamask-img" src="/assets/images/unlock-metamask.png">
</div>
