<div class="col">
  <h1 class="welcome-header-title">Welcome to CryptoStrikers!</h1>
  <p class="welcome-header-text">To get started, please enter your email address and choose a nickname.</p>
  <br>
  <p class="welcome-header-text">When you hit Submit, you will be asked to sign a message identifying you as the owner of your wallet address. This will secure your account.</p>
  <br>
  <p class="welcome-header-text">Note: Your email address and nickname are stored on CryptoStrikers' servers and not on the blockchain. You can delete your account at any time.</p>
</div>
