<div class="col">
  <h1 class="wrong-network-title">You're on the Wrong Network</h1>
  <p class="wrong-network-text">Click the MetaMask icon in your browser's toolbar and switch over to the <span class="wrong-network-emphasis">{{networkName}}</span>.</p>
  <img class="wrong-network-img" src="/assets/images/wrong-network.png">
</div>
