<div class="col">
  <h1 class="wrong-network-title">{{t "wrong-network.title"}}</h1>
  <p class="wrong-network-text">{{t "wrong-network.subtitle" networkName=networkName htmlSafe=true}}</p>
  <img class="wrong-network-img" src="/assets/images/wrong-network.png">
</div>
