// Variable overrides
//$body-bg: white;
//$primary: red;

// Bootstrap and its default variables
@import "vendor/bootstrap/scss/bootstrap";
@import "app/styles/components/card-attributes";
@import "app/styles/components/card-carousel";
@import "app/styles/components/card-packs-header";
@import "app/styles/components/checklist-item-info";
@import "app/styles/components/email-capture-page";
@import "app/styles/components/filterable-card-grid";
@import "app/styles/components/pack-sale-tile";
@import "app/styles/components/revealable-card";
@import "app/styles/components/trading-container";
@import "app/styles/flags";

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04em;
}

.clickable {
  cursor: pointer;
}

.font-weight-900 {
  font-weight: 900;
}

.opacity-0 {
  opacity: 0;
}

.opacity-30 {
  opacity: 0.3;
}

.strikers-modal-overlay {
  background-color: rgba(128, 128, 128, .77);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;

  .strikers-modal-dialog {
    background-color: white;
    margin: auto;
    border-radius: 8px;
    max-width: 520px;
    width: 80%;
    max-height: 500px;
    overflow-y: auto;
  }
}

.country-selector {
  width: 582px;

  .flag-md:hover {
    opacity: 1;
  }
}
