.activity-cell {
  border-bottom: 2px solid $strikers-light;
  display: flex;
  align-items: flex-start;
  padding: 28px;

  .activity-cell-image {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }

  .activity-cell-info {
    font-size: 15px;
    margin-right: auto;
    padding-right: 10px;

    .activity-cell-timestamp {
      font-weight: bold;
    }

    .activity-cell-description {
      color: $strikers-medium;

      span {
        font-weight: bold;
        color: $strikers-gold;
      }
    }
  }

  .activity-cell-buttons {
    display: flex;
    align-items: flex-end;

    .view-cards-link {
      color: black;
      font-size: 12px;
      margin: auto 20px auto 0;
      text-align: center;
    }
  }

  @include media-breakpoint-down(xs) {
    .activity-cell-buttons {
      flex-direction: column;

      .view-cards-link {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }

  .activity-cell-button {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-size: 12px;
  }
}

.activity-divider {
  margin: 0;
  border-top: 2px solid $strikers-light;
}

.activity-header-text {
  margin-bottom: 0;
}
