.card-packs-header {
  .card-packs-title {
    font-weight: 700;
    font-size: 35px;
  }

  .card-packs-subtitle {
    font-size: 20px;
    line-height: 31px;
    color: #828282;
  }

  .alert-primary {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
