.card-attributes {
  border-top: 2px solid $strikers-light;

  .card-attributes-header {
    font-size: 32px;
    font-weight: bold;
    margin: 32px 0;
  }

  .attribute-cell {
    text-align: center;
    margin-bottom: 32px;

    .attribute-cell-img {
      width: 51px;
      height: 51px;
      margin: 0 auto 8px auto;
    }

    .attribute-cell-value {
      font-size: 25px;
      font-weight: bold;
    }

    .attribute-cell-title {
      font-size: 15px;
      color: #828282;
    }
  }
}
