.checklist-item-info {
  margin-top: 16px;

  .checklist-info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    display: flex;

    .checklist-info-image {
      height: 20px;
      margin: auto 0 auto auto;

      &.has-tier-image {
        margin-right: 8px;
      }
    }

    .checklist-info-name {
      margin: auto auto auto 0;
    }
  }

  .checklist-info-subtitle {
    font-size: 14px;
    font-weight: normal;
    color: #828282;
    margin-bottom: 0;
  }

  &.checklist-item-info-lg {
    margin-top: 32px;

    .checklist-info-title {
      font-size: 32px;

      .checklist-info-image {
        height: 32px;

        &.has-tier-image {
          margin-right: 12px;
        }
      }
    }

    .checklist-info-subtitle {
      font-size: 28px;
    }
  }
}
