.checklist-item-info {
  margin-top: 16px;

  .checklist-info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    display: flex;

    .checklist-info-image {
      height: 20px;
      margin: auto 8px auto auto;
    }

    .checklist-info-name {
      margin: auto auto auto 0;
    }
  }

  .checklist-info-subtitle {
    font-size: 14px;
    font-weight: normal;
    color: #828282;
    margin-bottom: 0;
  }

  &.checklist-item-info-lg {
    margin-top: 85px;
    margin-bottom: 85px;

    .checklist-info-title {
      font-size: 45px;
    }

    .checklist-info-subtitle {
      font-size: 35px;
    }
  }
}
