.email-capture-page {
  background: #8cc3f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .top-banner {
    background: black;
    text-align: center;
    color: white;
    font-size: 18px;

    a {
      text-decoration: underline;
    }

    .gold-text {
      color: #DBB66B;
    }
  }

  .twitter-logo-discord-row {
    align-items: flex-start;
  }

  .twitter-link, .discord-link {
    color: black;
    font-size: 22px;
    width: 80px;
  }

  .twitter-link {
    margin-right: auto;
  }

  @include media-breakpoint-down(xs) {
    .shield-logo {
      width: 100px;
    }
  }

  .discord-link {
    margin-left: auto;
  }

  .email-capture-body {
    flex: 1;

    .email-capture-text {
      margin: auto;

      .email-capture-title, .email-capture-subtitle {
        color: white;
        font-size: 75px;
      }

      .email-capture-button {
        background: #DBB66B;
        color: white;
        border: 7px solid #000000;
        border-radius: 7px;
        box-sizing: border-box;
        font-weight: 900;
        letter-spacing: 0.1em;
        font-size: 20px;
        width: 271px;
        height: 84px;
        line-height: 54px;
        margin: 39px 0;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .email-capture-title, .email-capture-subtitle {
      font-size: 48px !important;
    }
  }
}
