.filterable-card-grid {
  .card-tile {
    position: relative;

    .card-image-container {
      background-color: rgba(0, 0, 0, 0.3);
      padding-bottom: 140%;

      .card-image {
        position: absolute;
        left: 0;
      }
    }

    .card-count-badge {
      position: absolute;
      top: -8px;
      right: -8px;
    }

    .player-name, .checklist-number {
      margin: 0;
    }

    .player-name {
      font-size: 12px;
    }

    .card-count, .checklist-number {
      font-size: 10px;
    }
  }
}
