.flippable-card-scene {
  perspective: 2000px;

  .flippable-card {
    position: relative;
    padding-bottom: 140%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: -2.5px 10px 20px rgba(0, 0, 0, 0.25);

    &.is-flipped {
      transform: rotateY(180deg);
    }
  }

  .flippable-card-face {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flippable-card-face-back {
    transform: rotateY(180deg);
  }
}
