.referrals-link {
  padding: 63px 0;
  border-bottom: 1px solid $strikers-light;

  .referrals-link-title {
    font-weight: bold;
    font-size: 22px;
  }

  .input-group {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    .form-control[readonly] {
      background: white;
    }

    .copy-btn {
      font-size: 14px;
      font-weight: bold;
      width: 80px;
      border-color: #ced4da;
    }
  }

  .referral-link-details {
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 12px;
    color: #828282;
    font-weight: 500;
  }

  .btn-strikers {
    margin-top: 40px;
    background-color: $strikers-blue;
    border-color: $strikers-blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    padding: 16px 66px;
  }

  .no-packs-bought {
    font-size: 20px;
    color: $strikers-medium;

    a {
      color: $strikers-gold;
    }
  }
}
