.referrals-cards {
  padding: 63px 0;

  .referrals-cards-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 63px;
  }

  .flippable-card-scene {
    margin-bottom: 18px;
  }

  .referrals-cards-subtitle {
    font-size: 16px;
    color: $strikers-medium;
  }
}
