.referrals-header {
  padding: 63px 0;
  border-bottom: 1px solid $strikers-light;

  .referrals-header-title {
    font-size: 35px;
    font-weight: bold;
  }

  .referrals-header-rewards {
    margin: 84px auto;

    h1 {
      font-size: 100px;
      color: $strikers-gold;
    }

    h2 {
      font-weight: bold;
      font-size: 22px;
      margin-top: -8px;
    }
  }

  .referrals-header-text {
    font-size: 20px;
    line-height: 31px;
    color: $strikers-medium;

    a {
      color: $strikers-gold;
    }
  }
}
