.strikers-row {
  padding: 63px 0;
  border-top: 1px solid $strikers-light;

  .strikers-row-title {
    font-weight: bold;
    font-size: 35px;
  }

  .strikers-row-text {
    font-size: 20px;
    line-height: 31px;
    color: $strikers-medium;
  }

  .alert-primary {
    margin-bottom: 0;
  }

  .open-sea-image {
    width: auto;
    height: 80px;
  }

  .youtube-container-container {
    width: 80%;
    max-width: 560px;
    margin: 0 auto;
  }

  .youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
