.strikers-row {
  padding: 63px 0;
  border-top: 1px solid $strikers-light;

  .strikers-row-title {
    font-weight: bold;
    font-size: 35px;
  }

  .strikers-row-text {
    font-size: 20px;
    line-height: 31px;
    color: $strikers-medium;
  }

  .open-sea-image {
    width: auto;
    height: 80px;
  }
}
