.welcome-header {
  padding: 63px 0;
  border-bottom: 1px solid $strikers-light;

  .welcome-header-title {
    font-weight: bold;
    font-size: 35px;
  }

  .welcome-header-text {
    font-size: 20px;
    line-height: 31px;
    color: $strikers-medium;
    margin-bottom: 0;
  }

  .alert-primary {
    margin-top: 63px;
    margin-bottom: 0;

    span {
      font-weight: bold;
    }
  }
}
