.wrong-network {
  padding: 63px 0;

  .wrong-network-title {
    font-weight: bold;
    font-size: 35px;
  }

  .wrong-network-text {
    font-size: 20px;
    line-height: 31px;
    color: $strikers-medium;

    .wrong-network-emphasis {
      color: $strikers-gold;
      font-weight: bold;
    }
  }

  .wrong-network-img {
    width: 300px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
}
