<h1>Key Metrics</h1>
<h5>Pack bought events: {{model.packBoughtEvents.length}}</h5>
<br>
<h5>Kitty burned events: {{model.kittyBurnedEvents.length}}</h5>
<h5>Total kitties burned: {{model.totalKittiesBurned}}</h5>
<br>
<h5>Whitelist events: {{model.whitelistEvents.length}}</h5>
