<h1>PackSale</h1>
<h5>Total ETH raised: {{model.totalEthRaised}}</h5>
<h5>Contract balance: {{model.contractBalance}}</h5>
<h5>Total commission owed: {{model.totalCommissionOwed}}</h5>
<button {{action "withdrawBalance"}}>Withdraw Balance</button>
