<h1>Trading</h1>
<h5>Trade cancelled events: {{model.tradeCancelledEvents.length}}</h5>
<h5>Trade filled events: {{model.tradeFilledEvents.length}}</h5>
<h5>Unique traders: {{model.uniqueTraders.length}}</h5>
<br>
