<h1>Activity</h1>
{{#each model as |activity|}}
  <div class="my-3 p-3 bg-white rounded border box-shadow">
    {{#link-to "activity.show" activity.id}}
      {{#if (eq activity.type "buy_pack")}}
        <p>You bought a pack on {{moment-format activity.createdAt}}</p>
        <p>Transaction: {{activity.txnHash}}</p>
      {{/if}}
    {{/link-to}}
  </div>
{{else}}
  <div class="text-center">
    <p>You have no activity yet.</p>
    <p>You can get started by {{link-to "buying a pack" "crowdsale"}}.</p>
  </div>
{{/each}}
