<div class="container">
  {{#strikers-row title="Activity"}}
    <p class="activity-header-text">Activity history is stored on the CryptoStrikers servers so that you can access it from any device.</p>
  {{/strikers-row}}
</div>
<hr class="activity-divider">
<div class="container">
  {{#each sortedActivities as |activity|}}
    {{activity-cell activity=activity}}
  {{else}}
    <div class="text-center">
      <p>You have no activity yet.</p>
      <p>You can get started by {{link-to "buying a pack" "buy-packs"}}.</p>
    </div>
  {{/each}}
</div>
