{{#each model as |activity|}}
  {{activity}}
{{else}}
  <div class="text-center">
    <p>You have no activity yet.</p>
    <p>You can get started by {{link-to "buying a pack" "crowdsale"}}.</p>
  </div>
{{/each}}
