<div class="wallpaper"></div>
<main class="cover-container text-center d-flex h-100 p-5 flex-column mx-auto">
  <h1 class="font-weight-bold mt-auto">CryptoStrikers</h1>
  <p class="lead">Buy packs of cards to start building your collection. Use the marketplace to trade for the players you're missing, or to sell your rarest cards for crypto. Go head-to-head in fantasy matchups to win prizes!</p>
  <p class="lead mb-auto">
    <a href="http://eepurl.com/dn35FH" target="_blank" class="btn btn-lg btn-primary font-weight-bold">Learn more</a>
  </p>
</main>
