<div class="container">
  {{#if model.isPaused}}
    <div class="text-center">
      SALE IS PAUSED
    </div>
  {{else}}
    {{card-packs-header}}
    <div class="row">
      <div class="col-md mb-5">
        {{pack-sale-column sale=model.standardSale buyPack=(action "buyPack" model.standardSale)}}
      </div>
      <div class="col-md mb-5">
        {{pack-sale-column sale=model.premiumSale buyPack=(action "buyPack" model.premiumSale)}}
      </div>
    </div>
  {{/if}}
</div>
