<div class="container">
  {{#if model.isPaused}}
    <div class="text-center">
      SALE IS PAUSED
    </div>
  {{else}}
    {{#strikers-row title="Buy Packs"}}
      <p>
        Build your collection by buying packs of cards.<br>
        Each pack contains 4 cards.<br>
        Cards must be bought with ether.<br>
        To fund your account, send ETH to your wallet address.<br>
        Cards will be on sale until the final whistle blows for the July 15th final.
      </p>
      {{#if shouldShowAlert}}
        <div class="alert alert-primary" role="alert">
          You have {{alertText}} waiting for you. Look for the <strong>GET MY FREE PACK</strong> button below!
        </div>
      {{/if}}
    {{/strikers-row}}
    <div class="row">
      <div class="col-md mb-5">
        {{
          pack-sale-column
          sale=model.standardSale
          buyPack=(action "buyPack" model.standardSale)
          claimReferralPack=(action "claimReferralPack")
          claimWhitelistPack=(action "claimWhitelistPack" false)
          hasBurnedKitty=model.hasBurnedKitty
          isOwedFreeReferralPack=isOwedFreeReferralPack
          whitelistAllocation=model.standardWhitelistAllocation
        }}
      </div>
      <div class="col-md mb-5">
        {{pack-sale-column sale=model.premiumSale buyPack=(action "buyPack" model.premiumSale) claimWhitelistPack=(action "claimWhitelistPack" true) whitelistAllocation=model.premiumWhitelistAllocation isPreLaunch=true}}
      </div>
    </div>
  {{/if}}
</div>
