<div class="container">
  {{#if model.isPaused}}
    <div class="text-center">
      SALE IS PAUSED
    </div>
  {{else}}
    {{card-packs-header}}
    <div class="row">
      <div class="col-md">
        {{pack-sale-column sale=model.standardSale}}
      </div>
      <div class="col-md">
        {{pack-sale-column sale=model.premiumSale}}
      </div>
    </div>
  {{/if}}
</div>
