{{card-carousel cards=myCards checklistItem=checklistItem slideDidChange=(action 'slideDidChange')}}
<section class="container text-center">
  {{checklist-item-info checklistItem=checklistItem}}
  {{#if card.value}}
    {{card-attributes card=card.value}}
  {{/if}}
</section>
