<div class="container">
  {{#strikers-row title="Trade Center"}}
    <p>Create a trade by selecting a card you want to give up and the card you expect in return.</p>
    <p>Once you've created the trade, you'll receive an offer link. Share this link any way you want -- email, text, or social media!</p>
    <p>Find trade partners in our <a href="https://discord.gg/VHFQUvV" target="_blank">Discord</a> or on our <a href="https://www.reddit.com/r/cryptostrikerstrading" target="_blank">subreddit</a>.</p>
    <div class="alert alert-primary" role="alert">
      Looking to accept a trade offer? Please navigate to the URL sent to you by your trade partner.
    </div>
  {{/strikers-row}}
</div>
{{trading-container createTrade=(action "createTrade")}}
