<div class="row">
  <div class="col-md-4 text-center">
    <img class="img-fluid mb-4 mb-md-0" src="http://via.placeholder.com/300x420">
  </div>
  <div class="col-md-8">
    <p>Build your collection by buying packs of cards.</p>
    <p>Each pack contains 5 cards; limit of 5 packs per transaction.</p>
    <p>Cards must be bought with Ethereum. To fund your account, send ETH to your {{link-to "wallet address" "deposit" class="card-link"}} or buy ETH here.</p>
    <p>Cards will be on sale until the final whistle blows for the June 15th final.</p>
    <button class="btn btn-success" {{action 'buyPack'}}>Buy Pack</button>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm">
    <p>Today's ETH price</p>
    <p>${{model.ethPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (USD)</p>
    <p>${{model.packPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (ETH)</p>
    <p>0.002</p>
  </div>
</div>
