<div class="row text-center">
  <div class="col-sm">
    <p>Today's ETH price</p>
    <p>${{model.ethPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (USD)</p>
    <p>${{model.packPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (ETH)</p>
    <p>0.002</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm">
    <button class="btn btn-lg btn-success">BUY PACK</button>
  </div>
</div>
