<div class="card">
  <div class="row">
    <div class="col-md">
      <div class="card-body text-center">
        <img src="http://via.placeholder.com/300x420">
      </div>
    </div>
    <div class="col-md">
      <div class="card-body">
        <p class="card-text">Build your collection by buying packs of cards.</p>
        <p class="card-text">Each pack contains 5 cards; limit of 5 packs per transaction.</p>
        <p class="card-text">Cards must be bought with Ethereum. To fund your account, send ETH to your {{link-to "wallet address" "deposit" class="card-link"}} or buy ETH here.</p>
        <p class="card-text">Cards will be on sale until the final whistle blows for the June 15th final.</p>
        <button class="btn btn-success">Buy Pack</button>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm">
    <p>Today's ETH price</p>
    <p>${{model.ethPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (USD)</p>
    <p>${{model.packPriceUSD}}</p>
  </div>
  <div class="col-sm">
    <p>Pack price (ETH)</p>
    <p>0.002</p>
  </div>
</div>
