<div class="row align-items-center" style="height:700px;">
  <div class="col-sm-6 order-sm-2 text-center">
    <img class="img-fluid px-5 px-sm-0" src="/assets/images/card.png">
  </div>
  <div class="col-sm-6 order-sm-1 text-center text-sm-left">
    <h1>A new kind of fantasy game.</h1>
    <p>Buy packs of cards to start building your collection. Use the marketplace to trade for the players you're missing, or to sell your rarest cards for crypto. Go head-to-head in fantasy matchups to win prizes!</p>
    <a class="btn btn-success btn-lg" href="#">Get Started</a>
  </div>
</div>
