<div class="container">
  {{#strikers-row title=(t "marketplace.title")}}
    <p>{{t "marketplace.subtitle"}}</p>
    <a href="https://opensea.io/category/cryptostrikers" target="_blank">
      <img class="open-sea-image" src="/assets/images/open-sea.png">
    </a>
  {{/strikers-row}}
</div>
