<div class="container">
  {{#strikers-row title="Under Construction"}}
    <p>In the meantime, you can buy & sell individual cards on OpenSea, our official marketplace partner.</p>
    <a href="https://opensea.io/category/cryptostrikers" target="_blank">
      <img class="open-sea-image" src="/assets/images/open-sea.png">
    </a>
  {{/strikers-row}}
</div>
