<p>TODO: organize "collections" in left sidebar like CryptoKitties Codex</p>
<div class="row">
  {{#each model.allPlayers as |player|}}
    <div class="col-6 col-sm-4 col-lg-3">
      {{player-card player=player ownedPlayers=ownedPlayers}}
    </div>
  {{/each}}
</div>
