<p>Grid of all cards and their rarity (cards you don't own are at 30% opacity - see <a href="https://rarepepewallet.com" target="_blank">Rare Pepe</a>)</p>
<div class="row">
  {{#each model as |player|}}
    <div class="col-6 col-sm-4 col-lg-3">
      {{player-card player=player}}
    </div>
  {{/each}}
</div>
