<div class="container">
  <p>All of these cards are stored in your digital wallet, and not on CryptoStrikers' servers. They are 100% yours, all we do is display them.</p>
  {{filterable-card-grid checklistItems=model.checklistItems checklistSets=model.checklistSets myChecklistIds=model.myChecklistIds}}
</div>
