<div class="container">
  {{#strikers-row title=(t "navbar.my-cards")}}
    <p>{{t "profile.subtitle"}}</p>
  {{/strikers-row}}
  {{filterable-card-grid checklistItems=model.checklistItems checklistSets=model.checklistSets myChecklistIds=model.myChecklistIds}}
</div>
