<div class="container">
  <form>
    <div class="form-group">
      <label for="walletAddressInput">Wallet address</label>
      <input class="form-control form-control-lg" type="text" placeholder={{currentUser.address}} id="walletAddressInput" readonly>
    </div>
  </form>
</div>
