<div class="card">
  <h2 class="card-header">Seriously, please fucking read this.</h2>
  <div class="card-body">
    <p class="card-text">Here are your 12 seed words. Please fucking write them down.</p>
    <div class="alert alert-danger font-weight-bold" role="alert">{{model}}</div>
    <button type="button" class="btn btn-primary" {{action "createAccount"}}>I wrote them down</button>
  </div>
</div>
